<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../assets/style/responsive.css">
    <link rel="stylesheet" href="../../assets/style/bootstrap-drawer.css">
    <link rel="stylesheet" href="../../assets/style/styles2.css">
</head>
<body>
    <div class="drawer drawer-left slide" tabindex="-1" role="dialog" aria-labelledby="drawer-1-title" aria-hidden="true" id="drawer-1">
        <div class="drawer-content drawer-content-scrollable" role="document">
            <div class="drawer-header">
                <h4 class="drawer-title" id="drawer-1-title">
                    <img src="../../assets/img/logo-head.png" alt="logo" height="25">
                </h4>
            </div>
            <div class="drawer-body">
                <form class="form-inline my-2 my-lg-0 search-form">
                    <div class="input-group w-100">
                        <input type="text" class="form-control input-search" placeholder="reading" name="key">
                        <div class="input-group-append">
                            <button class="btn-search">
                                <img src="../../assets/img/search.png" alt="">
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="navbar-nav border-top mt-2">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-book-open"></i> Course</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-user-graduate"></i> My Course</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-user"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-comment-alt"></i> Message</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-primary pt-2 pb-2"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <div class="drawer-footer">
                <div class="profile d-flex flex-row align-items-first">
                    <div class="img-profile">
                        <img src="../../assets/img/profile.jpg" alt="profile" class="img-fit rounded">
                    </div>
                    <div class="detail ml-1">
                        <p class="text-bold">Hi, Bambang</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light m-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/logo-head.png" alt="logo">
            </a>
            <button class="navbar-toggler" data-toggle="drawer" data-target="#drawer-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="d-flex flex-row align-items-center justiy-content-between w-100">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-black d-flex align-items-center">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-black d-flex align-items-center">Course</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0 search-form">
                        <div class="input-group w-100">
                            <input type="text" class="form-control input-search" placeholder="reading" name="key">
                            <div class="input-group-append">
                                <button class="btn-search">
                                    <img src="../../assets/img/search.png" alt="">
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item d-flex align-items-center">
                            <a href="#" class="nav-link text-black">My Course</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="#" class="nav-link">
                                <img src="../../assets/img/mail.png" alt="mail">
                                <span class="badge badge-pill badge-warning text-white badge-mail">1</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex flex-row align-items-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <p class="m-0 text-black">Hi, Derry</p>
                                <img src="../../assets/img/profile.jpg" alt="profile" class="img-fit ml-1 rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">My Course</a>
                                <a class="dropdown-item" href="#">Message</a>
                                <a class="dropdown-item text-danger" href="#">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="../../assets/js/bootstrap-drawer.js"></script>
    <script src="https://kit.fontawesome.com/1d26a38738.js" crossorigin="anonymous"></script>
</body>
</html>