@media screen and (max-width:450px) {
    .after-author {
        .collapse-menu {
            height: 40px;
            overflow: hidden;
            .btn-toggle-collapse {
                display: block;
                width: 100%;
                background: transparent;
                i.fas.fa-chevron-down{
                    display: inline;
                }
            }
        }
        .collapse-menu.show {
            height: 200px;
        }
    }
    .detail-cours {
        .btn-start-quiz{ 
            width: 100%;
            box-shadow: 0px 4px 40px rgba(0, 162, 233, 0.2);
        }
        .btn-download-pembahasan{ 
            box-shadow: 0px 4px 40px rgba(0, 162, 233, 0.2);
            width: 100%;
        }
        .btn-quiz {
          flex-direction: column;  
          border: 1px solid #E4E4E4;
        }
    }
    #collapseMenu {
        display: none;
    }
    #collapseMenu.show {
        display: block;
    }
    .landing-sec-1 {
        max-height: 360px;
    }

    .landing-sec-1 .inners {
        position: absolute;
        z-index: 100;
    }

    .landing-sec-1 .image {
        text-align: left;
    }

    .landing-sec-1 .image img {
        width: 130%;
        top: -165px;
        position: relative;
        left: -80px;
    }

    .landing-sec-1 .inners .box-content h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;
        max-width: 320px;
        margin-top: 90px;
        margin-bottom: 20px;
    }

    .landing-sec-1 .inners .box-content {
        left: 5%;
    }

    .landing-sec-1 .inners .box-content button {
        width: 140px;
        height: 32px;
        font-size: 12px;
        line-height: 14px;
    }

    .landing-sec-2 .prelative.container .box-content {
        max-width: 90px;
    }

    .landing-sec-2 .prelative.container .box-content img {
        width: 70%;
        height: 60px;
    }

    .landing-sec-2 .prelative.container .box-content p {
        display: none;
    }

    .landing-sec-2 .prelative.container .box-content h5 {
        font-size: 12px;
        line-height: 14px;
    }

    .landing-sec-3 .prelative.container .box-content h5 {
        font-size: 32px;
    }

    .landing-sec-3 .prelative.container .box-content p {
        font-size: 12px;
        line-height: 21px;
    }

    .landing-sec-4 .prelative.container {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .landing-sec-5 .prelative.container {
        padding-top: 40px;
    }

    .landing-sec-5 .prelative.container .title h5 {
        font-size: 35px;
    }

    .landing-sec-5 .prelative.container .box-content {
        height: 245px;
        width: 100%;
    }
    .form-alls {
        background-image: url('../../assets/img/cover-backs-m.png');
    }
    .form-alls .contents-forgot .inners .box-context,
        .form-alls .contents-login .inners .box-context,
        .form-alls .contents-regist .inners .box-context,
        .form-alls .contents-err .inners .box-context {
        padding: 0 25px;
    }
    .form-alls .contents-err .inners .box-context img{
        width: 100%;
    }
    .pref-footer {
        padding-left: 20px !important;
        padding-right: 20px !important;

        .logo {
            text-align: center;
        }

        .social-media {
            justify-content: center;
        }
    }
    .contents-courses .prelative.container .box-content .inss h4{
        font-size: 14px;
        line-height: 16px;
    }
    .contents-courses .prelative.container .box-content .inss h5{
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.1px;
    }
    .contents-courses .prelative.container .box-content .inss .author .texts{
        left: 25px;
    }
    .slick-next,
    .slick-prev{
        top: 40%;
    }
    .slick-prev {
        left: -10px;
        z-index: 10;
    }
    .slick-next {
        right: 0px;
    }
    .cover-all .image{
        display: none;
    }
    .contents-courses .prelative.container .slick-carousel.slick-initialized.slick-slider {
        height: 355px;
    }
    .cover-all .inners .box-content h4{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .cover-all{
        padding: 20px 0;
    }
    .contents-courses .prelative.container .courses.grade-all-mitra .mitras .box-mitras{
        width: 155px;
    }
    .contents-courses .prelative.container .courses.grade-all-mitra .mitras .box-mitras img,
    .contents-courses .prelative.container .mitras .box-mitras img{
        width: 100px;
    }
    .contents-courses .prelative.container .mitras .box-mitras h5{
        font-size: 12px;
        line-height: 18px;
    }
    .contents-courses .prelative.container .detail-mitra-content .tops-dets{
        padding: 18px;
    }
    .contents-courses .prelative.container .detail-mitra-content .tops-dets .heads h5{
        font-size: 25px;
        line-height: 22px;
    }
    .contents-courses .prelative.container .detail-mitra-content .tops-dets .bottoms .context a p{
        display: none;
    }
    .contents-courses .prelative.container .detail-mitra-content .youtubes iframe{
        height: 300px;
    }
    .contents-courses .prelative.container .tutor-bss .box-tutor{
        width: 155px;
        margin-bottom: 15px;
    }
    .card.sidebar.border-0{
        margin-bottom: 30px;
    }
    .heads-covers {
        .navbar{
            padding-top: 15px;
            padding-bottom: 15px;
            button{
                width: 100%;
                text-align: left;
                border: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 19px;

                color: #00A2E9;

                i{
                    float: right;
                }
            }
            button:active,
            button:focus,
            button:hover{
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
    }
    .dashboard-sec-2 .prelative.container .courses h5,
    .discussion h5 {
        font-size: 24px;
    }
    .dashboard-sec-2 .prelative.container .courses .box-content .inss h4 {
        font-size: 14px;
        line-height: 16px;
    }

    .dashboard-sec-2 .prelative.container .courses .box-content .inss h5 {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.1px;
    }
    .discussion .discussion-box .inners .titles ul li .date{
        display: none;
    }
    .discussion .discussion-box .inners .content p{
        line-height: 24px;
    }
    .contents-courses .prelative.container .detail-tutors-content .context-tops{
        height: auto;
    }
    .contents-courses .prelative.container .detail-tutors-content .context-tops .box-lefts{
        width: 100%;
    }
    .contents-courses .prelative.container .detail-tutors-content .context-tops .box-lefts .sends{
        width: 92%;
    }
    .contents-courses .prelative.container .detail-tutors-content .context-tops .box-right .bottoms .context a p{
        display: none;
    }
    .sidebar {
        .list-group {
            height: 49px;
            overflow: hidden;

            .list-group-item {
                .link-all {
                    width: 90%;
                }

                .btn-toggle-sidebar {
                    background: white;
                    font-size: 15px;
                }

                .btn-toggle-sidebar.hide {
                    display: none;
                }

                .btn-toggle-sidebar.show {
                    display: block;
                }
            }
        }
    }
    .courses-insides .prelative.container .inner .box-contents-right.taken,
    .courses-insides .prelative.container .inner .box-contents-right.untaken {
        top: 0;
        margin-bottom: 40px;
    }
    .courses-insides .prelative.container .inner .box-content .content-desc ul li a p{
        font-size: 15px;
    }
    .courses-insides .prelative.container .inner .box-content .overview{
        margin-bottom: 50px;
    }
    .courses-insides .prelative.container .inner .box-content .content-desc .content .list-content .item p.title{
        width: 100px;
    }
    .cover-all .inners .box-content p{
        font-size: 14px;
    }
    .discussion-box .inners .content h5{
        font-size: 14px;
    }
    .discussion-box .inners .content p{
        font-size: 12px;
        line-height: 18px;
    }
    .dets-course .box-content h5{
        font-size: 14px;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles ul li .images{
        display: inline;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles ul li{
        display: inline;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles ul li .conts{
        display: inline-grid;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles ul li .conts {
        margin: 0 12px;
        position: relative;
        top: -7px;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles ul li .conts h6{
        margin-left: 0;
    }
    .discussion-box .responses .inst .accordion#faq .card-body .content-inners .titles .date p{
        top: 0;
    }
    .courses-insides .prelative.container .inner .box-content.leaderboard .overview .card{
        width: 100%;
    }
    .courses-insides .prelative.container .inner .box-content.leaderboard .overview h6{
        border-top:1px solid #E4E4E4;
        padding-top: 25px;
    }
    .courses-insides .prelative.container .inner .box-content.leaderboard .tables .inns .quiz p,
    .courses-insides .prelative.container .inner .box-content.leaderboard .tables .inns .point p{
        text-align: center;
    }
    .courses-insides .prelative.container .inner .box-content.leaderboard .tables .inns .names p{
        margin-left: 0;
        font-size: 14px;
    }
    .courses-insides .prelative.container .inner .box-content.quiz-intro .overview .btn-quiz .btn-start-quiz,
    .courses-insides .prelative.container .inner .box-content.quiz-intro .overview .btn-quiz .btn-download-pembahasan {
        max-width: 300px;
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
        display: block;
        position: relative;
        margin-bottom: 20px;
    }
    .courses-insides .prelative.container .inner .box-content.quiz-intro .overview {
        border-bottom:1px solid #E4E4E4;
    }
    .courses-insides.ujians .prelative.container .container-soal{
        padding-top: 40px;
    }

    .courses-insides .prelative.container .inner .box-content.learn-course .materi .frames .inns .heads .btn-heads button span{
        display: none;
    }
    .courses-insides .prelative.container .inner .box-content.learn-course .materi .frames .inns .heads .btn-heads .download{
        margin-right: 0;
    }

    .courses-insides .prelative.container .inner .box-content.learn-course .materi .frames .inns .txt .mid img{
        width: 100%;
    }
    .courses-insides .prelative.container .inner .box-content.learn-course .materi .frames .inns .txt .youtube{
        padding: 0 20px;
    }

    .courses-insides .prelative.container .inner .box-content.learn-course .materi .frames .inns .txt .youtube iframe{
        height: 220px;
    }
    .courses-insides.ujians .prelative.container .container-soal .soal .images img{
        width: 100%;
    }
    .cover-all.contact-abouts .inners{
        height: 90px;
    }
    .cover-all.contact-abouts .inners .box-content h4{
        font-size: 30px;
    }
    .contact-about-sec-1 .prelative.container .txt h6{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .contact-about-sec-1 .prelative.container .txt p{
        margin-bottom: 30px;
    }
    .cover-all.my-course,
    .cover-all.my-course .inners {
        height: 85px;
    }
    .cover-all.my-course .inners .box-content h4{
        position: relative;
        top: -30px;
    }
    .cover-all.my-course ul.nav.nav-pills li.nav-item a.nav-link,
    .cover-all.my-course ul.nav.nav-pills li.nav-item a.nav-link.active {
        font-size: 14px;
        padding-bottom: 0;
    }
    .cover-all.my-course ul.nav.nav-pills {
        position: relative;
        top: -63px;
        left: 2.5%;
    }
    section.contents-courses.pb-5.pt-5 {
        padding-top: 20px !important;
    }
    .cover-all.profiles,
    .cover-all.profiles .inners{
        height:100px;
    }
    .cover-all.profiles .inners .box-content {
        top: -20px;
    }
    section.contents-courses.pb-5.pt-5 .card.sidebar.profiles.border-0.mb-3 {
        margin-top: 15px;
    }
    section.contents-courses.pb-5.pt-5 .card.sidebar.profiles .list-group-item.active{
        background:#ffffff;
        border:none;
    }

    section.contents-courses.pb-5.pt-5 .card.sidebar.profiles .list-group-item a{
        padding: 15px 13px;
    }
    section.message-breadcrumb .content-message .select-one .inns{
        display: none;
    }
    section.message-breadcrumb .breads-cont .create p{
            width: 70%;
            margin: 0 auto;
            background: #fff;
            padding: 3px;
    }
    section.message-breadcrumb .content-message {
        height: 525px;
    }
    section.message-breadcrumb .content-message .message-inbox{
        padding: 0 15px;
    }
    section.message-breadcrumb .content-message.selected{
        height: auto;
    }
    section.message-breadcrumb .content-message .write input{
        width: 86%;
    }

    div#exampleModalMsgEmpty .modal-dialog.modal-dialog-centered{
        margin:0 auto;
    }
    .courses-insides-sec-2 .prelative.container .more-courses .titles h4{
        line-height: 35px;
    }
    .courses-insides.ujians .prelative.container .container-soal .soal .title h6{
        font-size: 16px;
    }
    .courses-insides.ujians .prelative.container .container-soal .soal .pilgan button.pilgans,
    .courses-insides.ujians .prelative.container .container-soal .soal .pilgan button.pilgans p.pil-2{
        font-size: 15px;
    }
}

@media screen and (max-width:380px) {
    .landing-sec-5 .prelative.container .box-content {
        height: 245px;
        width: 100%;
        position: relative;
    }

    .landing-sec-5 .prelative.container .box-content .inners img {
        width: 100%;
    }
}

@media screen and (max-width:330px) {
    .landing-sec-5 .prelative.container .box-content {
        width: 100%;
        left: -5px;
        position: relative;
    }
}