.after-author {
    ul {
        list-style: none;
        padding: 0;
        transition: .3s!important;
        a {
            display: flex;
            padding: 8px 15px;
            color: #98999A;
            font-weight: bold;
            .btn-toggle-collapse {
                display: none;
                background-color: #ffffff;
            }
        }
        a.active {
            color: #00A2E9;
        }
    }
}