.after-author ul {
  list-style: none;
  padding: 0;
  transition: 0.3s !important;
}
.after-author ul a {
  display: flex;
  padding: 8px 15px;
  color: #98999A;
  font-weight: bold;
}
.after-author ul a .btn-toggle-collapse {
  display: none;
  background-color: #ffffff;
}
.after-author ul a.active {
  color: #00A2E9;
}
