.dashboard-sec-2 {
    background: url('../../assets/img/backs.png');
    .card-chart {
        background: #FEFEFE;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
}
body {
    background: #EFF6FB;
}