@import 'styles2.css';
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4GxZrU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4G3JoU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4GwZuU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4G2JvU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4G35sU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe01MImSLYBIv1o4X1M8cce4G1ptU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9yAv5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8WAf5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9iB_5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8GBv5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBf5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Nunito Sans Black'), local('NunitoSans-Black'), url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8-BP5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  font-family: 'Nunito Sans', sans-serif;
}
button:active,
button:hover {
  outline: none;
  border: none;
  box-shadow: none;
}
body,
html {
  overflow-x: hidden;
}
.prelative.container {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.landing-sec-1 {
  background-color: #EFF6FB;
  max-height: 782px;
}
.landing-sec-1 .inners {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.landing-sec-1 .inners .box-content {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  left: 15%;
  position: relative;
}
.landing-sec-1 .inners .box-content h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #00a2e9;
  margin-bottom: 40px;
}
.landing-sec-1 .inners .box-content button {
  background: linear-gradient(180deg, #00A2E9 0%, #5FC2ED 100%);
  box-shadow: 0px 4px 40px rgba(0, 162, 233, 0.2);
  border-radius: 50px;
  width: 282px;
  height: 56px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-family: Roboto;
}
.landing-sec-1 .image {
  text-align: right;
}
.landing-sec-2 {
  background-color: #EFF6FB;
}
.landing-sec-2 .prelative.container {
  padding-top: 100px;
}
.landing-sec-2 .prelative.container .box-content {
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 270px;
}
.landing-sec-2 .prelative.container .box-content img {
  margin-bottom: 15px;
}
.landing-sec-2 .prelative.container .box-content h5 {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  color: #5C5C5C;
}
.landing-sec-2 .prelative.container .box-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #5C5C5C;
}
.landing-sec-3 {
  background-color: #EFF6FB;
}
.landing-sec-3 .prelative.container {
  padding-top: 50px;
  padding-bottom: 75px;
}
.landing-sec-3 .prelative.container .box-content {
  text-align: center;
}
.landing-sec-3 .prelative.container .box-content h5 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00A2E9;
  line-height: 76px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: transparent;
}
.landing-sec-3 .prelative.container .box-content p {
  line-height: 42px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #5C5C5C;
}
.landing-sec-3 .prelative.container .box-content button {
  margin-top: 30px;
  width: 181px;
  height: 56px;
  background: #EFF6FB;
  border: 1px solid #00A2E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 162, 233, 0.2);
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #00A2E9;
}
.landing-sec-4 {
  background: linear-gradient(#5FC2ED 0%, #00A2E9 100%);
}
.landing-sec-4 .prelative.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.landing-sec-4 .prelative.container .box-content {
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 270px;
}
.landing-sec-4 .prelative.container .box-content img {
  margin-bottom: 15px;
}
.landing-sec-4 .prelative.container .box-content h5 {
  line-height: 73;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 182.7%;
  color: #ffffff;
}
.landing-sec-4 .prelative.container .box-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.landing-sec-5 {
  background-image: url('../../assets/img/Frame3.png');
  min-height: 973px;
  background-position: cover;
  background-repeat: no-repeat;
  background-color: #EFF6FB;
}
.landing-sec-5 .prelative.container {
  padding-top: 100px;
  padding-bottom: 75px;
}
.landing-sec-5 .prelative.container .title h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #00A2E9;
}
.landing-sec-5 .prelative.container .box-content {
  text-align: center;
  background: #EFF6FB;
  box-shadow: 0px 4px 40px rgba(0, 162, 233, 0.2);
  border-radius: 10px;
  width: 250px;
  height: 302px;
  display: table;
  vertical-align: middle;
  margin-top: 40px;
}
.landing-sec-5 .prelative.container .box-content .inners {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}
.landing-sec-5 .prelative.container .box-content .inners h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5C5C5C;
}
.landing-sec-5 .prelative.container .box-content .inners p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #979797;
}
@media screen and (max-width: 450px) {
  .landing-sec-1 {
    max-height: 360px;
  }
  .landing-sec-1 .inners {
    position: absolute;
    z-index: 100;
  }
  .landing-sec-1 .image {
    text-align: left;
  }
  .landing-sec-1 .image img {
    width: 130%;
    top: -165px;
    position: relative;
    left: -80px;
  }
  .landing-sec-1 .inners .box-content h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    max-width: 320px;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .landing-sec-1 .inners .box-content {
    left: 5%;
  }
  .landing-sec-1 .inners .box-content button {
    width: 140px;
    height: 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .landing-sec-2 .prelative.container .box-content {
    max-width: 90px;
  }
  .landing-sec-2 .prelative.container .box-content img {
    width: 70%;
    height: 60px;
  }
  .landing-sec-2 .prelative.container .box-content p {
    display: none;
  }
  .landing-sec-2 .prelative.container .box-content h5 {
    font-size: 12px;
    line-height: 14px;
  }
  .landing-sec-3 .prelative.container .box-content h5 {
    font-size: 32px;
  }
  .landing-sec-3 .prelative.container .box-content p {
    font-size: 12px;
    line-height: 21px;
  }
  .landing-sec-4 .prelative.container {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .landing-sec-5 .prelative.container {
    padding-top: 40px;
  }
  .landing-sec-5 .prelative.container .title h5 {
    font-size: 35px;
  }
  .landing-sec-5 .prelative.container .box-content {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .landing-sec-5 .prelative.container .box-content {
    width: 100%;
    position: relative;
  }
  .landing-sec-5 .prelative.container .box-content .inners img {
    width: 100%;
  }
}
@media screen and (max-width: 330px) {
  .landing-sec-5 .prelative.container .box-content {
    width: 100%;
    left: -5px;
    position: relative;
  }
}
